New Ingredient

<form action='/ingredients' method='POST'>
  Name: <input type='text' name='ingredients[name]'/> <br/>
  Color: <input type='text' name='ingredients[color]'/> <br/>
  Grams Of Sugar: <input type='integer' name='ingredients[]'>
  
  <input type='submit' value='Create Ingredient'/>
</form>